*{
    font-family: 'Balsamiq Sans', cursive;
}
.bar{
    display: none;
}
body{
    margin: 0;
}
.main{
    width: 100%;
    padding: 0%;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    height: 635px;
}
.bl{
    color: white;
    margin-left: 0%;
    background-color: rgb(0, 162, 255);
    width: 50%;
    margin: 0%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px ;    
    line-height: 70px;
}

.whi{
    color: black;
    margin-right: 0%;
    background-color: white;
    width: 50%;
    margin: 0%;
    padding-top: 140px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px ;
}

.first{
    width: 500px;
    font-size: 40px;
}
.sec{
    line-height: 20px;
}
.sen{
    width: 460px;
    font-size: 25px;
    line-height: 30px;
}
.three{
    display: block;
}
.one{
    width: 100%;
    height: 30px;
    display: flex;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 20px;
}
.sen{
    margin-top: 0%;
    font-size: 20px;
}
#search{
    background-color: white;
    color: rgb(0, 162, 255);
    border-radius: 30px;
    font-size: 30px;
}
#lock{
    background-color: white;
    color: rgb(0, 162, 255);
    font-size: 30px;
    border-radius: 30px;
}
.ano{
    padding-left: 20px;
}
.part{
    display: flex;
    flex-direction: row;
}

#ico{
    font-size: 30px;
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 0%;
}